@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000;
    --card: #ffffff;
    --card-foreground: #000;
    --popover: #ffffff;
    --popover-foreground: #000;
    --primary: #9dffce;
    --primary-foreground: #000;
    --secondary: #fff;
    --secondary-foreground: #000;
    --muted: #f1f5f9;
    --muted-foreground: #64748b;
    --accent: #f1f5f9;
    --accent-foreground: #000;
    --destructive: #ffbaba;
    --destructive-foreground: #000;
    --border: #a1acbb;
    --input: #d9ffec;
    --ring: #009c4e;

    --radius: 0.5rem;
  }

  .dark {
    --background: #000;
    --foreground: #f8fafc;
    --card: #000;
    --card-foreground: #f8fafc;
    --popover: #000;
    --popover-foreground: #f8fafc;
    --primary: #f8fafc;
    --primary-foreground: #0f172a;
    --secondary: #1e293b;
    --secondary-foreground: #f8fafc;
    --muted: #1e293b;
    --muted-foreground: #94a3b8;
    --accent: #1e293b;
    --accent-foreground: #f8fafc;
    --destructive: #7f1d1d;
    --destructive-foreground: #f8fafc;
    --border: #1e293b;
    --input: #1e293b;
    --ring: #fcbd1c;
  }

  * {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--color-light);
    background: var(--color-dark);
    font-family: Arial, Helvetica, sans-serif;
  }
}

@media (prefers-color-scheme: light) {
  body {
    color: var(--color-dark);
    background: var(--color-light);
    font-family: Arial, Helvetica, sans-serif;
  }
}